name: Build image files
on:
  workflow_dispatch:
    inputs:
      address:
        description: "vps的ip地址，可设置为auto"
        required: true
        default: "10.0.0.1/24"
        type: string
      gateway:
        description: "vps的网关"
        required: true
        default: "10.0.0.1"
        type: string
      device:
        type: choice
        description: "硬盘类型，vda/sda"
        options:
          - vda
          - sda
        required: true
        default: vda

env:
  NIX_PATH: nixpkgs=channel:nixos-unstable
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Delete older workflow runs and artifacts
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 3
          keep_minimum_runs: 3

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: SSH Private Key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install nixFlake
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            trusted-public-keys = zenqy.cachix.org-1:G5csLBsu/kQIOXU7XUiqeMacwzN1WQWv0+GysTVmJgo= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://zenqy.cachix.org/ https://cache.nixos.org/

      - name: Magic Nix Cache
        uses: DeterminateSystems/flakehub-cache-action@main

      - name: Use Cachix
        uses: cachix/cachix-action@v16
        with:
          name: zenqy
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Run Nix Flake Update
        run: nix flake update

      - name: Set Config
        run: |
          if [[ ${{ inputs.address }} == 'auto' ]]; then
            for i in {1..9}; do
              sed -i '12d' hosts/x86/vps/default.nix
            done
            sed -i '12inetworkConfig.DHCP = true;' hosts/x86/vps/default.nix
            echo "GATEWAY=auto" >> $GITHUB_ENV
          else
            sed -i 's|10.0.0.10/24|${{ inputs.address }}|g' hosts/x86/vps/default.nix
            sed -i 's|10.0.0.1|${{ inputs.gateway }}|g' hosts/x86/vps/default.nix
            echo "GATEWAY=${{ inputs.gateway }}" >> $GITHUB_ENV
          fi

          if [[ ${{ inputs.device }} == 'sda' ]]; then
            sed -i 's|/dev/vda|/dev/sda|g' hosts/x86/vps/default.nix
          fi

          echo '**********查看配置**********'
          cat hosts/x86/vps/default.nix
          echo '**********查看配置**********'

      - name: build image
        run: |
          echo "DATE=$(date +"%Y.%m.%d")" >> $GITHUB_ENV
          nix build .#vps
          cp result/*.raw .
          chmod 0644 *.raw
          gzip *.raw

      - name: Upload OpenWrt To Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          removeArtifacts: true
          tag: v${{ env.DATE }}
          artifacts: "*.raw.gz"
          body: |
            Gateway:${{ env.GATEWAY }}

      - name: Remove old Releases
        uses: dev-drprasad/delete-older-releases@v0.3.4
        if: success()
        with:
          keep_latest: 3
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Commit and Push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add falke.lock
          git commit -m "Update falke.lock - Automated Commit"
          git push
